.fullSelect {
  max-width: 100% !important;
}

ion-select {
  min-width: 50%;
  max-width: 60%;
}

.select-text::part(text) {
  text-overflow: inherit;
  overflow: inherit;
  word-break: normal;
  white-space: pre-line;
}
