<ion-list style="width:100%;height:90%;overflow:scroll;padding-bottom: 90px;">
  <div *ngFor="let recordView of (recordViews$ | async)">
    <ion-item detail="false">
      <ion-label>{{ recordView.time }}</ion-label>
      <ion-label class="ion-text-start">
        {{ recordView.bt }}
      </ion-label>
      <div>
        <ion-icon name="caret-forward-outline" *ngIf="!recordView.expand" button
          (click)="recordView.expand=!recordView.expand;">
        </ion-icon>
      </div>
      <div>
        <ion-icon name="caret-down-outline" *ngIf="recordView.expand" button
          (click)="recordView.expand=!recordView.expand;">
        </ion-icon>
      </div>
    </ion-item>
    <ion-list *ngIf="recordView.expand">
      <ion-item *ngFor="let dataField of recordView.healthCondition.list">
        <ng-container *ngIf="dataField">
          <ion-icon [name]="dataField.icon"></ion-icon>
          <ion-label class="ion-padding-start">
            {{ 'HEALTH_DATA.' + dataField.name | translate }}</ion-label>
          <ion-label class="ion-text-center">{{ dataField.value }}</ion-label>
          <ion-label class="ion-text-center">{{ dataField.unit }}</ion-label>
        </ng-container>
      </ion-item>
    </ion-list>
  </div>
</ion-list>