ion-item{
        // padding-bottom: 10px;
        .ios{
                padding-top: 10px;

                padding-bottom: 2vh;
 
        }
}

.time {
        max-width: 30%;
}

.data-name {
        max-width: 60%;
}

.data-value {
        max-width: 20%;
}

.data-unit {
        max-width: 20%;
}