<ion-content>
  <div class="TA-AE" style="height: 60vw;width: 100%; display:flex;
  align-items:center;
  justify-content:center;
  /* border:1px solid #000; */
  ">
    <div class="TA-AE" style="height: 50vw;width: 50vw;margin: 10px; ">
      <ion-img (click)="goToLink('https://www.mydata.org.tw/')" src="/assets/icon.png" alt="No picture"></ion-img>

    </div>
  </div>
  <div style="border-bottom: 2pt;"></div>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <ion-virtual-scroll [items]="items$ | async" approxItemHeight="220px" height="100%">
      <ion-item *virtualItem="let item; let itemBounds = bounds;"
        [routerLink]="['/tabs/tab-data/daily-detail', item.date]" routerDirection="forward">
        <ion-label>{{ item.date }}</ion-label>
        <ion-badge>{{ item.getRecordCount() }}</ion-badge>
      </ion-item>
  </ion-virtual-scroll>
</ion-content>