<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'DIARY.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ng-container *ngIf="date$ | async as date">
        <app-daily-detail-upper [date]="date"></app-daily-detail-upper>
        <div
          style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
        </div>
        <app-daily-detail-symptoms [date]="date"></app-daily-detail-symptoms>
      </ng-container>
    </ion-list>
  </ion-card>
</ion-content>